@font-face {
  font-family: "Karla";
  src: url(../fonts/karla/Karla-VariableFont_wght.ttf);
}
html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-navigation {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.header-navigation-list {
  width: 70%;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.navigation-word {
  text-decoration: none;
  color: #1D1F2E;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: "Karla";
}

.navigation-word:hover {
  color: brown;
  transition: 0.2s;
}

.header-bag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
}

.header-bag-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 18px;
  border-radius: 50%;
  color: white;
  background-color: black;
}

.header-main {
  display: flex;
  justify-content: center;
}

.header-main-background {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  width: 98%;
  background-color: #060628;
}

.header-main-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("../img/background-img/IMAGE.png");
  background-repeat: no-repeat;
  object-position: center;
  object-fit: cover;
  background-size: 100% 100%;
  min-height: 530px;
  width: 66%;
}

.header-main-title {
  text-align: center;
  color: #FFFFFF;
}

.header-main-text {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: "Karla";
  text-transform: uppercase;
  margin: 0;
}

.header-main-brand {
  line-height: 60px;
  font-size: 47px;
  font-weight: 400;
  font-family: "Karla";
  margin: 0;
}

.header-main-describe {
  line-height: 30px;
  font-size: 17px;
  font-weight: 400;
  font-family: "Karla";
  margin: 0;
}

.header-main-button {
  margin-top: 30px;
  text-transform: uppercase;
  min-width: 230px;
  min-height: 33px;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: "Karla";
  color: black;
  border: none;
}

.header-main-button:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.title-products {
  display: flex;
  justify-content: center;
}

.title-products-block {
  width: 44%;
  text-align: center;
  margin-top: 100px;
}

.title-products-main {
  font-family: "Karla";
  line-height: 40px;
  font-size: 28px;
  font-weight: 400;
}

.title-products-text {
  line-height: 30px;
  font-size: 17px;
  font-weight: 400;
  font-family: "Karla";
}

.title-products-bitton {
  font-family: "Karla";
  background-color: white;
  color: #A25F4B;
  height: 28px;
  width: 133px;
  margin-bottom: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid burlywood;
}

.title-products-last {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: "Karla";
  position: relative;
  text-transform: uppercase;
}

.title-products-last::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: lightgray;
  left: -50px;
  top: 7px;
}

.title-products-last::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: lightgray;
  right: -50px;
  top: 7px;
}

.first-two-cards {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.first-two-cards-block {
  min-width: 65%;
  display: flex;
  justify-content: space-between;
}

.first-two-card {
  text-align: center;
}

.first-two-card-describe {
  font-family: "Karla";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin: 35px 0 0 0;
}

.first-two-card-price {
  line-height: 30px;
  font-size: 17px;
  font-weight: 400;
  font-family: "Karla";
  color: rgb(110, 110, 110);
}

.first-two-card-discount {
  margin-right: 15px;
  font-family: "Karla";
  font-size: 19px;
  line-height: 32px;
  color: #A25F4B;
}

.price-line {
  text-decoration: line-through;
  text-decoration-color: rgb(110, 110, 110);
}/*# sourceMappingURL=style.css.map */