.title-products {
    display: flex;
    justify-content: center;
}

.title-products-block {
    width: 44%;
    text-align: center;
    margin-top: 100px;
}

.title-products-main {
    @include title-product-main;
}

.title-products-text {
    @include middle-text;
}

.title-products-bitton {
    font-family: 'Karla';
    background-color: white;
    color: $brown;
    height: 28px;
    width: 133px;
    margin-bottom: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid burlywood;
}

.title-products-word-one {
    @include small-text-style;
    position: relative;
    text-transform: uppercase;
}

.title-products-word-one::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: lightgray;
    left: -50px;
    top: 7px;
}

.title-products-word-one::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: lightgray;
    right: -50px;
    top: 7px;
}

.first-two-cards {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.first-two-card-img {
    background-image: url('../img/products-card/IMAGE (7).png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70%;
    width: 100%;
}

.first-two-card-img-two {
    background-image: url('../img/products-card/product-two.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70%;
    width: 100%;
}

.first-two-cards-block {
    height: 653px;
    min-width: 65%;
    display: flex;
    justify-content: space-between;
}

.first-two-card {
    text-align: center;
    width: 460px;
    height: 653px;
}

.first-two-card:hover {
    opacity: 0.5;
    transition: 0.5s;
}

.card-product-describe {
    @include card-describe;
    margin: 35px 0 0 0;
}

.card-product-price {
    @include middle-text;
    color: rgb(110, 110, 110);
}

.card-product-discount {
    margin-right: 15px;
    font-family: 'Karla';
    font-size: 19px;
    line-height: 32px;
    color: $discount;
}

.price-line {
    text-decoration: line-through;
    text-decoration-color: rgb(110, 110, 110);
}

@media (max-width: 1460px) {
    .title-products-block {
        width: 65%;
    }

    .first-two-cards-block {
       width: 80%;
       display: flex;
       justify-content: space-around;
    }

    .first-two-card {
        width: 45%;
    }
}

@media (max-width: 700px) {

    .title-products-block {
        width: 90%;
    }
    
    .first-two-cards {
        margin-top: 0;
        height: max-content;
    }
    
    .first-two-cards-block {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .first-two-card {
        width: 80%;
        margin-top: 50px;
    }
}

