.header-main {
    display: flex;
    justify-content: center;
}

.header-main-background {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    width: 98%;
    background-color: #060628;
}

.header-main-block {
    @include center-around;
    background-image: url('../img/background-img/IMAGE.png');
    background-repeat: no-repeat;
    object-position: center;
    object-fit: cover;
    background-size: 100% 100%;
    min-height: 530px;
    width: 66%;
}

.header-main-title {
    text-align: center;
    color: $white;
}

.header-main-text {
    @include small-text-style;
    text-transform: uppercase;
    margin: 0;
}

.header-main-brand {
    @include big-text;
}

.header-main-describe {
    @include middle-text;
}

.header-main-button {
    margin-top: 30px;
    text-transform: uppercase;
    min-width: 230px;
    min-height: 33px;
    @include small-text-style;
    color: black;
    border: none;
}

.header-main-button:hover {
    opacity: 0.5;
    transition: 0.5s;
}

@media (max-width: 1250px) {
    .header-main-background {
       width: 100%;
    }
}

@media (max-width: 450px) {
    .header-main-block {
        width: 90%;
        background-image: none;
        background-color: burlywood;
    }

    .header-main-background {
        background-color: burlywood;
    }
}